[Desktop Entry]
Name=Yaner
Name[zh_CN]=掩耳
GenericName=Download Manager
GenericName[zh_CN]=下载管理器
Comment=A download manager based on Aria2
Comment[zh_CN]=基于 Aria2 的下载管理器
Exec=yaner %u
Icon=emblem-downloads
Terminal=false
Type=Application
Categories=GTK;Network;FileTransfer;P2P
StartupNotify=true
Encoding=UTF-8
