[Desktop Entry]
Name=Yaner Daemon
Name[zh_CN]=掩耳守护进程
Comment=Background service required by Yaner.
Comment[zh_CN]=掩耳所需后台服务。
Exec=aria2c --enable-rpc
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;ConsoleOnly
NoDisplay=true
Encoding=UTF-8
Hidden=true
