
[Desktop Entry]
Name=Yaner
GenericName=Download Manager
Comment=Powerful download manager with an easy-to-use interface
Exec=yaner %U
Icon=yaner
Terminal=false
Type=Application
Categories=Qt;Network;FileTransfer;P2P
StartupNotify=true
Encoding=UTF-8
